<!doctype html>
<html>
	<head>
		<title>Topics of the NYPL Digital Collections</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/manual.css') }}" >
		<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	</head>

	<body>
	<div class="container">
	
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Search</a></li>
							<li><a href="/about/">About</a></li>
							<li><a href="/help/">Help</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		
		<div class="row">
			<div class="page-header">
				<h1 class="text-center"><a href="/">Topics of the NYPL Digital Collections</a></h1>
			</div>
		</div>
		
		<div class="row">
			<h2>What do you want to find?</h2>
		</div>
		
		<div class="row">
			<form>
				<div class="input-group">
					<input required type="text" name="search" class="form-control" placeholder="Word or phrase...">
					<span class="input-group-btn">
						<input type="submit" class="btn btn-primary" value="Search!" />
					</span>
				</div>
			</form>
		</div>
		
	</div>
	
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Contacts: </p>
      </div>
    </footer>
	
	<!-- JS код -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>